
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
.content{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    align-items: center;
}
.nav-link{
    list-style: none;
    display: flex;
    align-items: center;
    
    
}
.nav-link a{
    text-decoration: none;
    margin-right: 32px;
    font-size: 1rem;
    color: #FFFFFF;
}
.btn-nav{
  margin-right: 200px;
  margin-left: 314px;
  padding: 12.5px 40px 12.5px 16px;
  border-radius: 12px;
  border: none;
  background: rgb(148, 63, 38);
  color: #FFFFFF;
}
.tech h3{
    margin-left: 200px;
}
.burg{
    display: none;
    
}
.tech h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}
.tech span{
  color: rgb(134, 9, 67);  
}
nav{
    background: #1A0B2E;
    max-width: 1600px;
    height: 92px;
    border-bottom: .5px solid white;
}
.hero{
    max-width: 1600px;
    height: 760px;
    border: 1px solid #1A0B2E;
    background-image: url(../assets/hero-bg.png);
}
.micro {
    background-image: url(../assets/hero-circle.png);
    width: 350px;
    height: 350px;
    margin-bottom: 40px;
    margin-left: 50px;
}
.micro img{
    width: 200px;
    height: 250px;
    margin-top: 45px;
}
.banner-section{
    max-width: 550px;
    height: 558px;
    
    margin: 110px 525px;
    text-align: center;
}
.banner-title{
    font-size: 3.50rem;
    font-weight: 800;
    color: #FFFFFF;
}
.banner-descrip{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 12px;
    color: #FFFFFF;
}
.btn{
    display: flex;
    margin-left: 95px;
    gap: 8px;
}.btn-1{
    padding: 12px 20px 12px 40px;
    border-radius: 14px;
    border: none;
    background: rgb(158, 88, 50);
    color: #FFFFFF;
}
.btn-2{
    padding: 12px 20px 12px 40px;
    border-radius: 14px;
    border: none;
    color: #105e3a;
}
.about{
    max-width: 1600px;
    height: 645px;
    background: #1A0B2E;
}
.about-container h3{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.about-container p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}
.about-container{
    width: 1200px;
    height: 222px;
    padding-left: 310px;
    padding-top: 50px;
    text-align: center;
}
.container-rating{
    width: 1200px;
    height: 94px;
    display: flex;
    padding-left: 345px;
    gap: 100px;
    margin-top: 160px;
}
.container-rating h2{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
    padding-left: 3px;
    
}
.container-rating p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
}
.choose{
    background: #1A0B2E;
    max-width: 1600px;
}
.box{
    background: #251142;
    padding: 20px;
    border-radius: 40px;
    padding-left: 40px;
    padding-top: 50px;
}
.choose-grid{
    max-width: 1200px;
    height: 783px;
    gap: 15px;
    margin-left: 170px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,250px);

}
.choose-grid h4{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 16px;
}
.choose-grid p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
}
.first{
    grid-row: span 2;
}
.second{
    grid-column: span 2;
}
.choose-title{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}
@media screen and (max-width: 576px) {
    .burg{
        display: inline;
    }
    .nav-link{
        display: none;
        
    }
}